/* MASTER CSS FILE */

body, html{
    margin: 0;
    padding: 0;
}

header, footer{
    text-align: center;
    padding: 25px 0 25px 0;
}

header{
    min-height: 400px;
    background: url("../images/picture2.jpg");
    background-size: cover;
    background-position: center center;
}

.navbar-inverse{
    margin-bottom: 0;
}